<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="/js/sockjs.min.js"></script>
    <script type="text/javascript" src="/js/stomp.min.js"></script>
</head>
<body>
    This is index page!
    <button onclick="doClick();">点击</button>
    <script>
        function doClick() {
            var socket = new SockJS('/socket');
            var stompClient = Stomp.over(socket);
            stompClient.connect({}, function (frame) {
                stompClient.subscribe('/topic/sub', function (response) {
                    alert(response.body);
                })
            })
        }
    </script>
</body>
</html>